com:
  ftp:
    tld: com
    host: rz.verisign-grs.com
    username: <username>
    file: com.zone.gz
  ssh-enabled: true
  ssh:
    host: <host for SSH proxy>
    user: <username>
    authtype: key
    key: <path to key>
net:
  czds:
    tld: net
    username: <username>
dk:
  http:
    tld: dk
    url: <URL>
  ssh:
    host: <host for SSH proxy>
    user: <username>
    authtype: password
store:
  driver: sqlite3
  filename: test.db
